# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
.env
*.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Logs and databases
logs/
*.log

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
*.cover

# MongoDB data (if storing locally)
/data/db/

# Docker files
*.pid
*.tar

# Build artifacts
build/
dist/
*.egg-info/

# Editor backups
*.swp
*.swo
*~
